/* colours
blue: #009CBF
orange: #F75F00
green: #00A388
--tint-1: #333;
--tint-2: #666;
--tint-3: #999;
--tint-4: #ccc;
--tint-5: #e6e6e6;
--tint-6: #f2f2f2;
 */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("../fonts/abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Light";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Light"), url("../fonts/abcsans-light.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("../fonts/abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #333;
}
* {
  pointer-events: none;
}
body {
  overflow: hidden;
}
h1, p {
  margin: 0;
}
#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
}
#chart {
  height: 100%;
  opacity: 0;
}
#chartGroup {
}
#title {
  text-align: right;
  position: fixed;
  right: 0;
  background: #333;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  font-size: .9rem;
  color: #01CFFF;
  padding: 2px 4px;
}
#title::after {
  content: "CURRENT APPROACH";
}
#title.selected::after {
  content: "REVENUE APPROACH"
}
#title.selected {
  color: #F75F00;
}
#instruction {
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  background: #01CFFF;
  background: #009CBF;
  opacity: 0;
  position: absolute;
  border-radius: 4px;
  padding: .5rem;
  box-shadow: 2px 2px 5px #666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#footer {
  font-size: .75rem;
  color: #666;
  margin-top: .5rem;
}
.axis {
  opacity: 0;
}
.axis .domain {
  stroke: none;
}
.axis .tick line {
  stroke: #999;
  stroke-dasharray: 3 2;
}
.axis .tick text {
  fill: #666;
  font-size: .75rem;
}
.axis .label {
  fill: #333;
  font-weight: bold;
  font-size: .8rem;
  text-anchor: middle;
}
#yAxisGroup .label {
  text-anchor: start;
}
.camera {
  fill: #009CBF;
  opacity: 0;
}
#ticker {
  position: absolute;
  right: 1rem;
  text-align: right;
  opacity: 0;
}
#count {
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  font-size: 1.25rem;
  color: #00A388;
}
#ticker p {
  font-size: .8rem;
}
@media only screen and (min-width: 500px) {
  #title {
    font-size: 1.1rem;
    padding: 3px 6px;
  }
  #instruction {
    font-size: 1.2rem;
    padding: .75rem;
  }
  #footer {
    font-size: .8rem;
  }
  .axis .tick text {
    font-size: .8rem;
  }
  .axis .label {
    font-size: .85rem;
  }
  #count {
    font-size: 1.5rem;
  }
  #ticker p {
    font-size: .85rem;
  }

}
