/* colours
blue: #009CBF
orange: #F75F00
green: #00A388
--tint-1: #333;
--tint-2: #666;
--tint-3: #999;
--tint-4: #ccc;
--tint-5: #e6e6e6;
--tint-6: #f2f2f2;
 */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("../fonts/abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Light";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Light"), url("../fonts/abcsans-light.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("../fonts/abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #333;
}
* {
  pointer-events: none;
}
body {
  overflow: hidden;
}
h1, p {
  margin: 0;
}
#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
}
#map {
  height: 100%;
}
#mapGroup {
  opacity: 0;
}
.border {
  fill: #f2f2f2;
  stroke: #ccc;
  stroke-dasharray: 2 3;
}
.suburb {
  fill: white;
  stroke: #ccc;
}
.water {
  fill: #999;
}
.cameraAll {
  fill: #009CBF;
  opacity: 0;
}
.cameraBestPoint {
  fill: #F75F00;
  opacity: 0;
}
.cameraBestPoint.selected {
  fill: gold;
  stroke: #333;
}
.cameraBestCell {
  fill: none;
}
#title {
  text-align: right;
  position: fixed;
  right: 0;
  background: #333;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  font-size: .9rem;
  color: #01CFFF;
  padding: 2px 4px;
}
#instruction {
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  background: #01CFFF;
  background: #009CBF;
  opacity: 0;
  position: absolute;
  border-radius: 4px;
  padding: .5rem;
  box-shadow: 2px 2px 5px #666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#key {
  position: fixed;
  bottom: 3rem;
  right: 0;
  text-align: right;
  opacity: 0;
}
.key {
  font-size: .75rem;
  height: 1rem;
  line-height: 1rem;
  display: flex;
  justify-content: flex-end;
  color: #666;
}
.key div:last-child {
  width: .5rem;
  height: .5rem;
  margin-top: .25rem;
  margin-left: .25rem;
  border-radius: .25rem;
  background: #009CBF;
}
.key:last-child div:last-child {
  background: #F75F00;
}
#footer {
  font-size: .75rem;
  color: #666;
  margin-top: .5rem;
}
#tip {
  position: absolute;
  background: #333;
  box-shadow: 1px 1px 4px #555;
  color: white;
  text-align: center;
  padding: 2px 4px;
  max-width: 150px;
  border-radius: 4px;
  opacity: 0;
}
#tip h1 {
  font-size: .75rem;
  font-weight: bold;
}
#tip p {
  font-family: "ABCSans Light", "Arial Narrow", sans-serif;
  font-size: .75rem;
}
#tip span {
  color: #FFB300;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
}
@media only screen and (min-width: 500px) {
  #title {
    font-size: 1.1rem;
    padding: 3px 6px;
  }
  #instruction {
    font-size: 1.2rem;
    padding: .75rem;
  }
  .key {
    font-size: .85rem;
    height: 1.25rem;
    line-height: 1.25rem;
  }
  .key div:last-child {
    margin-top: .375rem;
  }
  #footer {
    font-size: .8rem;
  }
}
