/* colours
blue: #009CBF
orange: #F75F00
green: #00A388
--tint-1: #333;
--tint-2: #666;
--tint-3: #999;
--tint-4: #ccc;
--tint-5: #e6e6e6;
--tint-6: #f2f2f2;
 */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("../fonts/abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Light";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Light"), url("../fonts/abcsans-light.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("../fonts/abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #333;
}
body {
  overflow: hidden;
  margin: 0;
}
#container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#textBox {
  border-radius: 1rem;
  padding: 1rem;
  background: #e6e6e6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1, p {
  margin: 0;
}
h1 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
@media only screen and (min-width: 500px) {

}
