/* colours
blue: #009CBF
orange: #F75F00
green: #00A388
--tint-1: #333;
--tint-2: #666;
--tint-3: #999;
--tint-4: #ccc;
--tint-5: #e6e6e6;
--tint-6: #f2f2f2;
 */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("../fonts/abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Light";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Light"), url("../fonts/abcsans-light.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("../fonts/abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #333;
}
body {
  overflow: hidden;
  margin: 0;
}
#container {
  display: flex;
  flex-flow: column;
}
#tempContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#header, #chart, #footer, #descriptor {
  opacity: 0;
}
#holder {
  opacity: 1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  color: #ccc;
  font-size: 1.5rem;
}
#header {
  margin-bottom: .75rem;
  display: flex;
  justify-content: space-between;
}
#nagivation {
  display: flex;
  background: pink;
}
#navigation .icon {
  height: 50px;
}
#footer {
  margin-top: 1rem;
  color: #999;
  font-size: .8rem;
}
#title p:first-child {
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  font-size: 1.25rem;
}
h1, p {
  margin: 0;
}
#descriptor {
  color: #333;
  font-size: .8rem;
  text-transform: uppercase;
  margin-top: 2.25rem;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
#descriptor div {
  background: #e6e6e6;
  transform: rotateX(90deg);
  line-height: 20px;
  border: solid .5px #666;
  border-radius: 1rem;
}
.candidateBar {
  position: absolute;
  display: flex;
  font-size: .9rem;
  color: white;
  opacity: 0;
  width: 100%;
}
.nameField {
  text-align: right;
}
.exhausted .nameField {
  margin-right: 2px;
}
.firstName {
  font-family: "ABCSans Light", "Arial Narrow", sans-serif;
  font-size: .8rem;
}
.partyField {
  margin: 0 2px;
  text-align: center;
}
.ptyblue .nameField, .ptyblue .partyField, .ptyblue .resultBar {
  background: #1467cc;
}
.ptyred .nameField, .ptyred .partyField, .ptyred .resultBar {
  background: #d61515;
}
.ptylightgreen .nameField, .ptylightgreen .partyField, .ptylightgreen .resultBar {
  background: #79c400;
}
.ptybrown .nameField, .ptybrown .partyField, .ptybrown .resultBar {
  background: #A67B54;
}
.exhausted .nameField, .exhausted .partyField, .exhausted .resultBar {
  background: #666;
}
.exhausted .firstName {
  font-family: "ABCSans Regular", "Arial", sans-serif;
  font-size: .9rem;
}
.resultField {
  background: #f2f2f2;
  flex-grow: 1;
  display: flex;
}
.resultBar {
  height: 100%;
  width: 0px;
}
.resultLabel {
  font-family: "ABCSans Light", "Arial Narrow", sans-serif;
  color: #666;
  padding-left: 4px;
  font-size: .75rem;
  line-height: 25px;
}
#quotaLine {
  position: absolute;
  height: 0px;
  opacity: 0;
  border-left: dashed 1px #666;
}
#quotaLabel {
  position: absolute;
  opacity: 0;
  color: #666;
  font-size: .75rem;
  text-align: center;
}
@media only screen and (max-width: 500px) {

}
